

/* Black Atom — TERRA ∷ Summer Night */
.theme-dark.black-atom-terra-summer-night {
  /* Foundation: Base Colors */

  --color-base-00: #021109;
  --color-base-05: #0a1a10;
  --color-base-10: #152318;
  --color-base-20: #334133;
  --color-base-25: #394e35;
  --color-base-30: #5a694b;
  --color-base-35: #7c8563;
  --color-base-40: #a0a27e;
  --color-base-50: #baad8a;
  --color-base-60: #cdbc9a;
  --color-base-70: #dfcbaa;
  --color-base-100: #f9e1c0;


  /* Extended Colors */
  --color-red: #c88f7b;
  --color-red-rgb: 200, 143, 123;
  --color-orange: #d6a177;
  --color-orange-rgb: 214, 161, 119;
  --color-yellow: #bab06f;
  --color-yellow-rgb: 186, 176, 111;
  --color-green: #96a85e;
  --color-green-rgb: 150, 168, 94;
  --color-cyan: #6dae97;
  --color-cyan-rgb: 109, 174, 151;
  --color-blue: #7dac86;
  --color-blue-rgb: 125, 172, 134;
  --color-purple: #ba929d;
  --color-purple-rgb: 186, 146, 157;
  --color-pink: #92768f;
  --color-pink-rgb: 146, 118, 143;

  /* Backgrounds */
  --background-primary: #0a1a10;
  --background-primary-alt: #152318;
  --background-secondary: #021109;
  --background-secondary-alt: #021109;
  --background-modifier-hover: #152318;
  --background-modifier-active-hover: #152318;
  --background-modifier-border: #152318;
  --background-modifier-border-hover: #152318;
  --background-modifier-border-focus: #bab06f;
  --background-modifier-error-rgb: 80, 60, 53;
  --background-modifier-error: #503c35;
  --background-modifier-error-hover: #503c35;
  --background-modifier-success-rgb: 62, 69, 44;
  --background-modifier-success: #3e452c;
  --background-modifier-message: #364639;
  --background-modifier-form-field: #0a1a10;

  /* Text */
  --text-normal: #dfcbaa;
  --text-muted: #a0a27e;
  --text-faint: #7c8563;
  --text-accent: #bab06f;
  --text-accent-hover: #bab06f;
  --text-on-accent: #0a1a10;
  --text-on-accent-inverted: #dfcbaa;
  --text-error: #c88f7b;
  --text-warning: #bab06f;
  --text-success: #96a85e;
  --text-selection: #334133;
  --text-highlight-bg: #334133;

  /* Interactive */
  --interactive-normal: #0a1a10;
  --interactive-hover: #152318;
  --interactive-accent: #bab06f;
  --interactive-accent-hover: #bab06f;

  /* Headings */
  --h1-color: #bab06f;
  --h2-color: #bab06f;
  --h3-color: #bab06f;
  --h4-color: #baad8a;
  --h5-color: #baad8a;
  --h6-color: #baad8a;

  /* Markup */
  --bold-color: #bab06f;
  --italic-color: #bab06f;
  --blockquote-border-color: #96a85e;
  --link-color: #96a85e;
  --link-color-hover: #96a85e;
  --link-external-color: #96a85e;
  --link-external-color-hover: #96a85e;

  /* Code / Syntax Highlighting */
  --code-normal: #7dac86;
  --code-comment: #394e35;
  --code-function: #bab06f;
  --code-important: #ba929d;
  --code-keyword: #ba929d;
  --code-operator: #ba929d;
  --code-property: #5f8d68;
  --code-punctuation: #baad8a;
  --code-string: #96a85e;
  --code-tag: #bab06f;
  --code-value: #d6a177;
  --code-background: #152318;

  /* Tags */
  --tag-color: #bab06f;
  --tag-color-hover: #bab06f;
  --tag-background: #152318;
  --tag-background-hover: #152318;

  /* Graph */
  --graph-line: #152318;
  --graph-node: #bab06f;
  --graph-node-focused: #bab06f;
  --graph-node-tag: #6dae97;
  --graph-node-attachment: #96a85e;

  /* Scrollbar */
  --scrollbar-bg: #0a1a10;
  --scrollbar-thumb-bg: #152318;
  --scrollbar-active-thumb-bg: #a0a27e;

  /* Nav */
  --nav-item-background-hover: #152318;
  --nav-item-background-active: #152318;
  --nav-item-background-selected: #334133;
  --nav-item-color: #dfcbaa;
  --nav-item-color-hover: #dfcbaa;
  --nav-item-color-active: #bab06f;
  --nav-item-color-selected: #dfcbaa;
}
