

/* Black Atom — Light Dimmed */
.theme-light.black-atom-default-light-dimmed {
  /* Foundation: Base Colors */

  --color-base-00: #e2efe9;
  --color-base-05: #d5e2dc;
  --color-base-10: #c8d4cf;
  --color-base-20: #bbc8c2;
  --color-base-25: #899590;
  --color-base-30: #78837e;
  --color-base-35: #66726d;
  --color-base-40: #55615c;
  --color-base-50: #3b4541;
  --color-base-60: #2b3631;
  --color-base-70: #1d2722;
  --color-base-100: #0f1814;


  /* Extended Colors */
  --color-red: #66726d;
  --color-red-rgb: 102, 114, 109;
  --color-orange: #78837e;
  --color-orange-rgb: 120, 131, 126;
  --color-yellow: #78837e;
  --color-yellow-rgb: 120, 131, 126;
  --color-green: #899590;
  --color-green-rgb: 137, 149, 144;
  --color-cyan: #00b290;
  --color-cyan-rgb: 0, 178, 144;
  --color-blue: #66726d;
  --color-blue-rgb: 102, 114, 109;
  --color-purple: #8d85ed;
  --color-purple-rgb: 141, 133, 237;
  --color-pink: #5981e0;
  --color-pink-rgb: 89, 129, 224;

  /* Backgrounds */
  --background-primary: #d5e2dc;
  --background-primary-alt: #e2efe9;
  --background-secondary: #c8d4cf;
  --background-secondary-alt: #c8d4cf;
  --background-modifier-hover: #bbc8c2;
  --background-modifier-active-hover: #bbc8c2;
  --background-modifier-border: #e2efe9;
  --background-modifier-border-hover: #bbc8c2;
  --background-modifier-border-focus: #00b290;
  --background-modifier-error-rgb: 246, 201, 218;
  --background-modifier-error: #f6c9da;
  --background-modifier-error-hover: #f6c9da;
  --background-modifier-success-rgb: 190, 220, 187;
  --background-modifier-success: #bedcbb;
  --background-modifier-message: #c1dce1;
  --background-modifier-form-field: #d5e2dc;

  /* Text */
  --text-normal: #1d2722;
  --text-muted: #55615c;
  --text-faint: #78837e;
  --text-accent: #00b290;
  --text-accent-hover: #00b290;
  --text-on-accent: #c8d4cf;
  --text-on-accent-inverted: #1d2722;
  --text-error: #ff50a7;
  --text-warning: #ff7e00;
  --text-success: #00a800;
  --text-selection: #bbc8c2;
  --text-highlight-bg: #bbc8c2;

  /* Interactive */
  --interactive-normal: #d5e2dc;
  --interactive-hover: #bbc8c2;
  --interactive-accent: #00b290;
  --interactive-accent-hover: #00b290;

  /* Headings */
  --h1-color: #00b290;
  --h2-color: #00b290;
  --h3-color: #00b290;
  --h4-color: #3b4541;
  --h5-color: #3b4541;
  --h6-color: #3b4541;

  /* Markup */
  --bold-color: #00b290;
  --italic-color: #00b290;
  --blockquote-border-color: #66726d;
  --link-color: #00b290;
  --link-color-hover: #00b290;
  --link-external-color: #00b290;
  --link-external-color-hover: #00b290;

  /* Code / Syntax Highlighting */
  --code-normal: #3b4541;
  --code-comment: #606d60;
  --code-function: #2b3631;
  --code-important: #8d85ed;
  --code-keyword: #8d85ed;
  --code-operator: #2b3631;
  --code-property: #66726d;
  --code-punctuation: #3b4541;
  --code-string: #0fa05c;
  --code-tag: #00b290;
  --code-value: #3b4541;
  --code-background: #c8d4cf;

  /* Tags */
  --tag-color: #00b290;
  --tag-color-hover: #00b290;
  --tag-background: #bbc8c2;
  --tag-background-hover: #e2efe9;

  /* Graph */
  --graph-line: #e2efe9;
  --graph-node: #00b290;
  --graph-node-focused: #00b290;
  --graph-node-tag: #00b290;
  --graph-node-attachment: #899590;

  /* Scrollbar */
  --scrollbar-bg: #d5e2dc;
  --scrollbar-thumb-bg: #e2efe9;
  --scrollbar-active-thumb-bg: #55615c;

  /* Nav */
  --nav-item-background-hover: #bbc8c2;
  --nav-item-background-active: #e2efe9;
  --nav-item-background-selected: #bbc8c2;
  --nav-item-color: #1d2722;
  --nav-item-color-hover: #1d2722;
  --nav-item-color-active: #00b290;
  --nav-item-color-selected: #1d2722;
}
