

/* Black Atom — MNML ∷ Orange Light */
.theme-light.black-atom-mnml-orange-light {
  /* Foundation: Base Colors */

  --color-base-00: #f8ffff;
  --color-base-05: #f2fafd;
  --color-base-10: #ebf3f6;
  --color-base-20: #e4edf0;
  --color-base-25: #9ea6a9;
  --color-base-30: #868e90;
  --color-base-35: #747c7e;
  --color-base-40: #585f61;
  --color-base-50: #474e51;
  --color-base-60: #383e41;
  --color-base-70: #242a2c;
  --color-base-100: #111719;


  /* Extended Colors */
  --color-red: #9ea6a9;
  --color-red-rgb: 158, 166, 169;
  --color-orange: #0795fd;
  --color-orange-rgb: 7, 149, 253;
  --color-yellow: #fc8e06;
  --color-yellow-rgb: 252, 142, 6;
  --color-green: #868e90;
  --color-green-rgb: 134, 142, 144;
  --color-cyan: #9ea6a9;
  --color-cyan-rgb: 158, 166, 169;
  --color-blue: #9ea6a9;
  --color-blue-rgb: 158, 166, 169;
  --color-purple: #868e90;
  --color-purple-rgb: 134, 142, 144;
  --color-pink: #868e90;
  --color-pink-rgb: 134, 142, 144;

  /* Backgrounds */
  --background-primary: #f2fafd;
  --background-primary-alt: #f8ffff;
  --background-secondary: #ebf3f6;
  --background-secondary-alt: #ebf3f6;
  --background-modifier-hover: #ebf3f6;
  --background-modifier-active-hover: #ebf3f6;
  --background-modifier-border: #f8ffff;
  --background-modifier-border-hover: #ebf3f6;
  --background-modifier-border-focus: #fc8e06;
  --background-modifier-error-rgb: 255, 219, 206;
  --background-modifier-error: #ffdbce;
  --background-modifier-error-hover: #ffdbce;
  --background-modifier-success-rgb: 208, 232, 212;
  --background-modifier-success: #d0e8d4;
  --background-modifier-message: #cfe3f9;
  --background-modifier-form-field: #f2fafd;

  /* Text */
  --text-normal: #242a2c;
  --text-muted: #585f61;
  --text-faint: #868e90;
  --text-accent: #fc8e06;
  --text-accent-hover: #fc8e06;
  --text-on-accent: #ebf3f6;
  --text-on-accent-inverted: #242a2c;
  --text-error: #fa6d38;
  --text-warning: #fc8e06;
  --text-success: #3aa85b;
  --text-selection: #e4edf0;
  --text-highlight-bg: #e4edf0;

  /* Interactive */
  --interactive-normal: #f2fafd;
  --interactive-hover: #ebf3f6;
  --interactive-accent: #fc8e06;
  --interactive-accent-hover: #fc8e06;

  /* Headings */
  --h1-color: #fc8e06;
  --h2-color: #fc8e06;
  --h3-color: #fc8e06;
  --h4-color: #585f61;
  --h5-color: #585f61;
  --h6-color: #585f61;

  /* Markup */
  --bold-color: #fc8e06;
  --italic-color: #fc8e06;
  --blockquote-border-color: #868e90;
  --link-color: #0795fd;
  --link-color-hover: #0795fd;
  --link-external-color: #0795fd;
  --link-external-color-hover: #0795fd;

  /* Code / Syntax Highlighting */
  --code-normal: #383e41;
  --code-comment: #747c7e;
  --code-function: #fc8e06;
  --code-important: #0795fd;
  --code-keyword: #0795fd;
  --code-operator: #242a2c;
  --code-property: #585f61;
  --code-punctuation: #474e51;
  --code-string: #747c7e;
  --code-tag: #0795fd;
  --code-value: #242a2c;
  --code-background: #ebf3f6;

  /* Tags */
  --tag-color: #fc8e06;
  --tag-color-hover: #fc8e06;
  --tag-background: #ebf3f6;
  --tag-background-hover: #f8ffff;

  /* Graph */
  --graph-line: #f8ffff;
  --graph-node: #fc8e06;
  --graph-node-focused: #fc8e06;
  --graph-node-tag: #9ea6a9;
  --graph-node-attachment: #868e90;

  /* Scrollbar */
  --scrollbar-bg: #f2fafd;
  --scrollbar-thumb-bg: #f8ffff;
  --scrollbar-active-thumb-bg: #585f61;

  /* Nav */
  --nav-item-background-hover: #ebf3f6;
  --nav-item-background-active: #f8ffff;
  --nav-item-background-selected: #e4edf0;
  --nav-item-color: #242a2c;
  --nav-item-color-hover: #242a2c;
  --nav-item-color-active: #fc8e06;
  --nav-item-color-selected: #242a2c;
}
