
/* Black Atom — JPN ∷ Koyo Hiru */
.theme-light.black-atom-jpn-koyo-hiru {
  /* Foundation: Base Colors */

  --color-base-00: #fdfbf9;
  --color-base-05: #f9f2e9;
  --color-base-10: #f4e8d9;
  --color-base-20: #eedcc5;
  --color-base-25: #bea7be;
  --color-base-30: #a88aa8;
  --color-base-35: #8f718f;
  --color-base-40: #725872;
  --color-base-50: #5f475f;
  --color-base-60: #4b374b;
  --color-base-70: #3a2e3a;
  --color-base-100: #292029;


  /* Extended Colors */
  --color-red: #db7070;
  --color-red-rgb: 219, 112, 112;
  --color-orange: #de8641;
  --color-orange-rgb: 222, 134, 65;
  --color-yellow: #ea9d34;
  --color-yellow-rgb: 234, 157, 52;
  --color-green: #52ad82;
  --color-green-rgb: 82, 173, 130;
  --color-cyan: #6aaf9a;
  --color-cyan-rgb: 106, 175, 154;
  --color-blue: #9175a3;
  --color-blue-rgb: 145, 117, 163;
  --color-purple: #f0a274;
  --color-purple-rgb: 240, 162, 116;
  --color-pink: #ec935f;
  --color-pink-rgb: 236, 147, 95;

  /* Backgrounds */
  --background-primary: #f9f2e9;
  --background-primary-alt: #eedcc5;
  --background-secondary: #f4e8d9;
  --background-secondary-alt: #f4e8d9;
  --background-modifier-hover: #eedcc5;
  --background-modifier-active-hover: #eedcc5;
  --background-modifier-border: #eedcc5;
  --background-modifier-border-hover: #eedcc5;
  --background-modifier-border-focus: #ea9d34;
  --background-modifier-error-rgb: 241, 213, 190;
  --background-modifier-error: #f1d5be;
  --background-modifier-error-hover: #f1d5be;
  --background-modifier-success-rgb: 227, 220, 192;
  --background-modifier-success: #e3dcc0;
  --background-modifier-message: #e7d0c6;
  --background-modifier-form-field: #f9f2e9;

  /* Text */
  --text-normal: #3a2e3a;
  --text-muted: #a88aa8;
  --text-faint: #bea7be;
  --text-accent: #ea9d34;
  --text-accent-hover: #ea9d34;
  --text-on-accent: #f9f2e9;
  --text-on-accent-inverted: #3a2e3a;
  --text-error: #db7070;
  --text-warning: #ea9d34;
  --text-success: #52ad82;
  --text-selection: #eedcc5;
  --text-highlight-bg: #eedcc5;

  /* Interactive */
  --interactive-normal: #f9f2e9;
  --interactive-hover: #eedcc5;
  --interactive-accent: #ea9d34;
  --interactive-accent-hover: #ea9d34;

  /* Headings */
  --h1-color: #ea9d34;
  --h2-color: #ea9d34;
  --h3-color: #ea9d34;
  --h4-color: #725872;
  --h5-color: #725872;
  --h6-color: #725872;

  /* Markup */
  --bold-color: #ea9d34;
  --italic-color: #ea9d34;
  --blockquote-border-color: #52ad82;
  --link-color: #52ad82;
  --link-color-hover: #52ad82;
  --link-external-color: #52ad82;
  --link-external-color-hover: #52ad82;

  /* Code / Syntax Highlighting */
  --code-normal: #9175a3;
  --code-comment: #725872;
  --code-function: #ea9d34;
  --code-important: #f0a274;
  --code-keyword: #f0a274;
  --code-operator: #aa6f83;
  --code-property: #9175a3;
  --code-punctuation: #725872;
  --code-string: #52ad82;
  --code-tag: #ea9d34;
  --code-value: #aa6f83;
  --code-background: #f4e8d9;

  /* Tags */
  --tag-color: #ea9d34;
  --tag-color-hover: #ea9d34;
  --tag-background: #eedcc5;
  --tag-background-hover: #eedcc5;

  /* Graph */
  --graph-line: #eedcc5;
  --graph-node: #ea9d34;
  --graph-node-focused: #ea9d34;
  --graph-node-tag: #6aaf9a;
  --graph-node-attachment: #52ad82;

  /* Scrollbar */
  --scrollbar-bg: #f9f2e9;
  --scrollbar-thumb-bg: #eedcc5;
  --scrollbar-active-thumb-bg: #a88aa8;

  /* Nav */
  --nav-item-background-hover: #eedcc5;
  --nav-item-background-active: #eedcc5;
  --nav-item-background-selected: #eedcc5;
  --nav-item-color: #3a2e3a;
  --nav-item-color-hover: #3a2e3a;
  --nav-item-color-active: #ea9d34;
  --nav-item-color-selected: #3a2e3a;
}
