
/* Black Atom — MNML ∷ E-Ink Light */
.theme-light.black-atom-mnml-eink-light {
  /* Foundation: Base Colors */

  --color-base-00: #ebebeb;
  --color-base-05: #dedede;
  --color-base-10: #d1d1d1;
  --color-base-20: #c4c4c4;
  --color-base-25: #a4a4a4;
  --color-base-30: #8c8c8c;
  --color-base-35: #7a7a7a;
  --color-base-40: #5d5d5d;
  --color-base-50: #4d4d4d;
  --color-base-60: #3d3d3d;
  --color-base-70: #292929;
  --color-base-100: #161616;


  /* Extended Colors */
  --color-red: #a4a4a4;
  --color-red-rgb: 164, 164, 164;
  --color-orange: #8c8c8c;
  --color-orange-rgb: 140, 140, 140;
  --color-yellow: #8c8c8c;
  --color-yellow-rgb: 140, 140, 140;
  --color-green: #8c8c8c;
  --color-green-rgb: 140, 140, 140;
  --color-cyan: #a4a4a4;
  --color-cyan-rgb: 164, 164, 164;
  --color-blue: #a4a4a4;
  --color-blue-rgb: 164, 164, 164;
  --color-purple: #8c8c8c;
  --color-purple-rgb: 140, 140, 140;
  --color-pink: #8c8c8c;
  --color-pink-rgb: 140, 140, 140;

  /* Backgrounds */
  --background-primary: #dedede;
  --background-primary-alt: #ebebeb;
  --background-secondary: #d1d1d1;
  --background-secondary-alt: #d1d1d1;
  --background-modifier-hover: #d1d1d1;
  --background-modifier-active-hover: #d1d1d1;
  --background-modifier-border: #ebebeb;
  --background-modifier-border-hover: #d1d1d1;
  --background-modifier-border-focus: #5f5155;
  --background-modifier-error-rgb: 243, 199, 195;
  --background-modifier-error: #f3c7c3;
  --background-modifier-error-hover: #f3c7c3;
  --background-modifier-success-rgb: 207, 216, 188;
  --background-modifier-success: #cfd8bc;
  --background-modifier-message: #c0daec;
  --background-modifier-form-field: #dedede;

  /* Text */
  --text-normal: #292929;
  --text-muted: #5d5d5d;
  --text-faint: #8c8c8c;
  --text-accent: #5f5155;
  --text-accent-hover: #5f5155;
  --text-on-accent: #d1d1d1;
  --text-on-accent-inverted: #292929;
  --text-error: #f14d4c;
  --text-warning: #cd7b00;
  --text-success: #819e00;
  --text-selection: #c4c4c4;
  --text-highlight-bg: #c4c4c4;

  /* Interactive */
  --interactive-normal: #dedede;
  --interactive-hover: #d1d1d1;
  --interactive-accent: #5f5155;
  --interactive-accent-hover: #5f5155;

  /* Headings */
  --h1-color: #5f5155;
  --h2-color: #5f5155;
  --h3-color: #5f5155;
  --h4-color: #5d5d5d;
  --h5-color: #5d5d5d;
  --h6-color: #5d5d5d;

  /* Markup */
  --bold-color: #5f5155;
  --italic-color: #5f5155;
  --blockquote-border-color: #8c8c8c;
  --link-color: #776f71;
  --link-color-hover: #776f71;
  --link-external-color: #776f71;
  --link-external-color-hover: #776f71;

  /* Code / Syntax Highlighting */
  --code-normal: #4d4d4d;
  --code-comment: #7a7a7a;
  --code-function: #5f5155;
  --code-important: #776f71;
  --code-keyword: #776f71;
  --code-operator: #292929;
  --code-property: #5d5d5d;
  --code-punctuation: #4d4d4d;
  --code-string: #7a7a7a;
  --code-tag: #776f71;
  --code-value: #292929;
  --code-background: #d1d1d1;

  /* Tags */
  --tag-color: #5f5155;
  --tag-color-hover: #5f5155;
  --tag-background: #d1d1d1;
  --tag-background-hover: #ebebeb;

  /* Graph */
  --graph-line: #ebebeb;
  --graph-node: #5f5155;
  --graph-node-focused: #5f5155;
  --graph-node-tag: #a4a4a4;
  --graph-node-attachment: #8c8c8c;

  /* Scrollbar */
  --scrollbar-bg: #dedede;
  --scrollbar-thumb-bg: #ebebeb;
  --scrollbar-active-thumb-bg: #5d5d5d;

  /* Nav */
  --nav-item-background-hover: #d1d1d1;
  --nav-item-background-active: #ebebeb;
  --nav-item-background-selected: #c4c4c4;
  --nav-item-color: #292929;
  --nav-item-color-hover: #292929;
  --nav-item-color-active: #5f5155;
  --nav-item-color-selected: #292929;
}
