
/* Black Atom — JPN ∷ Koyo Hiru */
.theme-light.black-atom-jpn-koyo-hiru {
  /* Foundation: Base Colors */

  --color-base-00: #fef2e1;
  --color-base-05: #faeede;
  --color-base-10: #f4e3cd;
  --color-base-20: #ead2b2;
  --color-base-25: #ccb5cc;
  --color-base-30: #b193b1;
  --color-base-35: #937593;
  --color-base-40: #735973;
  --color-base-50: #5f475f;
  --color-base-60: #4b374b;
  --color-base-70: #3a2e3a;
  --color-base-100: #292029;


  /* Extended Colors */
  --color-red: #db7070;
  --color-red-rgb: 219, 112, 112;
  --color-orange: #de8641;
  --color-orange-rgb: 222, 134, 65;
  --color-yellow: #ea9d34;
  --color-yellow-rgb: 234, 157, 52;
  --color-green: #52ad82;
  --color-green-rgb: 82, 173, 130;
  --color-cyan: #6aaf9a;
  --color-cyan-rgb: 106, 175, 154;
  --color-blue: #9175a3;
  --color-blue-rgb: 145, 117, 163;
  --color-purple: #f0a274;
  --color-purple-rgb: 240, 162, 116;
  --color-pink: #ec935f;
  --color-pink-rgb: 236, 147, 95;

  /* Backgrounds */
  --background-primary: #faeede;
  --background-primary-alt: #fef2e1;
  --background-secondary: #f4e3cd;
  --background-secondary-alt: #f4e3cd;
  --background-modifier-hover: #f4e3cd;
  --background-modifier-active-hover: #f4e3cd;
  --background-modifier-border: #fef2e1;
  --background-modifier-border-hover: #f4e3cd;
  --background-modifier-border-focus: #ea9d34;
  --background-modifier-error-rgb: 242, 209, 182;
  --background-modifier-error: #f2d1b6;
  --background-modifier-error-hover: #f2d1b6;
  --background-modifier-success-rgb: 226, 218, 184;
  --background-modifier-success: #e2dab8;
  --background-modifier-message: #eaccc0;
  --background-modifier-form-field: #faeede;

  /* Text */
  --text-normal: #3a2e3a;
  --text-muted: #b193b1;
  --text-faint: #ccb5cc;
  --text-accent: #ea9d34;
  --text-accent-hover: #ea9d34;
  --text-on-accent: #faeede;
  --text-on-accent-inverted: #3a2e3a;
  --text-error: #db7070;
  --text-warning: #ea9d34;
  --text-success: #52ad82;
  --text-selection: #f4e3cd;
  --text-highlight-bg: #f4e3cd;

  /* Interactive */
  --interactive-normal: #faeede;
  --interactive-hover: #f4e3cd;
  --interactive-accent: #ea9d34;
  --interactive-accent-hover: #ea9d34;

  /* Headings */
  --h1-color: #ea9d34;
  --h2-color: #ea9d34;
  --h3-color: #ea9d34;
  --h4-color: #735973;
  --h5-color: #735973;
  --h6-color: #735973;

  /* Markup */
  --bold-color: #ea9d34;
  --italic-color: #ea9d34;
  --blockquote-border-color: #52ad82;
  --link-color: #52ad82;
  --link-color-hover: #52ad82;
  --link-external-color: #52ad82;
  --link-external-color-hover: #52ad82;

  /* Code / Syntax Highlighting */
  --code-normal: #9175a3;
  --code-comment: #735973;
  --code-function: #ea9d34;
  --code-important: #f0a274;
  --code-keyword: #f0a274;
  --code-operator: #aa6f83;
  --code-property: #9175a3;
  --code-punctuation: #735973;
  --code-string: #52ad82;
  --code-tag: #ea9d34;
  --code-value: #aa6f83;
  --code-background: #f4e3cd;

  /* Tags */
  --tag-color: #ea9d34;
  --tag-color-hover: #ea9d34;
  --tag-background: #f4e3cd;
  --tag-background-hover: #fef2e1;

  /* Graph */
  --graph-line: #fef2e1;
  --graph-node: #ea9d34;
  --graph-node-focused: #ea9d34;
  --graph-node-tag: #6aaf9a;
  --graph-node-attachment: #52ad82;

  /* Scrollbar */
  --scrollbar-bg: #faeede;
  --scrollbar-thumb-bg: #fef2e1;
  --scrollbar-active-thumb-bg: #b193b1;

  /* Nav */
  --nav-item-background-hover: #f4e3cd;
  --nav-item-background-active: #fef2e1;
  --nav-item-background-selected: #f4e3cd;
  --nav-item-color: #3a2e3a;
  --nav-item-color-hover: #3a2e3a;
  --nav-item-color-active: #ea9d34;
  --nav-item-color-selected: #3a2e3a;
}
