/* @settings
name: Black Atom
id: black-atom
settings:
  -
    id: dark-theme-variant
    title: Dark Theme Variant
    description: Choose your Black Atom variant for dark mode
    type: class-select
    allowEmpty: false
    default: black-atom-default-dark
    options:
      -
        label: "Default: Dark"
        value: black-atom-default-dark
      -
        label: "Default: Dark Dimmed"
        value: black-atom-default-dark-dimmed
  -
    id: light-theme-variant
    title: Light Theme Variant
    description: Choose your Black Atom variant for light mode
    type: class-select
    allowEmpty: false
    default: black-atom-default-light
    options:
      -
        label: "Default: Light"
        value: black-atom-default-light
      -
        label: "Default: Light Dimmed"
        value: black-atom-default-light-dimmed
*/
